.image-div{
    background-image: url("https://media.istockphoto.com/photos/glitter-vintage-lights-background-dark-gold-and-black-de-focused-picture-id963448782?b=1&k=20&m=963448782&s=170667a&w=0&h=VyJu5zoeOK1xZ5ipgBgTH5oeLIMkFTmaWQ_OsFq_r3Y="); 
  background-color: #cccccc; 
  height: 700px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}