@media(max-width:980px){
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

